{% extends 'layouts/base.html' %}
{% block content %}

    <html lang = "en">
    <head>
        <title>Edit</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    
    <body>
        <section>
            <form class="form-sigin" id="cpa-form" name="myForm" method="POST" action="/update/{{record[0]}}">

                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <h2 id="heading">Atualize Sua Conta de Usuário</h2>
                    <p>Preencha todos os campos do formulário</p>
                </div>
                <div class="formulario col-md-12">
                    <div class="col-md-4 border-right" style="margin-left: 2rem; padding-top: 1rem;  padding-bottom: 1rem; " >
                    

                        <div class="col-md-12">
                            <label>Nome</label>
                            <input id="nome" class="form-control" value="{{record[2]}}" name="Nome" id="Nome" type="text" placeholder="Nome completo" required  />
                        </div>
                        </br>

                        <div class="col-md-12">
                            <label for="gander">Selecione o genero</label>
                            <select class="form-control" name="Genero" id="Genero">
                                <option value="{{record[3]}}">{{record[3]}}</option>                            
                                <option value="femenino">Femenino</option>                            
                                <option value="masculino">Masculino</option>

                            </select>
                        </div>
                        </br>

                        <div class="col-md-12">
                            <label>Email @</label>
                            <input id="email" class="form-control" value="{{record[5]}}" name="Email" type="text" placeholder="anavoice@gmail.com" />

                        </div>
                        </br>

                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Senha</label> <input type="password" class="form-control" placeholder="Introduza a senha" id="senha" name="Senha"  ></div>
                            <div class="col-md-6"><label class="labels">Confirmar Senha</label><input type="password" name="Confirmarsenha" class="form-control" placeholder="Confirme a senha" ></div>
                        </div>
                        </br>

                        <div class="col-md-12">
                            <label for="regiao">Selecione a província</label>
                            <select class="form-control" name="Provincia" id="Provincia">
                                <option value="{{record[13]}}">{{record[13]}}</option>
                                <option value="Maputo Cidade">Maputo Cidade</option>
                                <option value="Mapauto Província">Mapauto Província</option>                            
                            </select>
                        </div>
                        

                    </div>

                    <div class="col-md-4 border-right" style="margin-left: 2rem; padding-top: 1rem;  padding-bottom: 1rem;   margin-right: 2rem;" >
                        
                        
                        <div class="col-md-12">
                            <label>Avenida</label>
                            <input id="avenida" class="form-control"  value="{{record[14]}}" name="Avenida" type="text" placeholder="Av. Mapauto" />
                        </div>
                        </br>

                        <div class="col-md-12">
                            <label>Bairro</label>
                            <input id="bairro" class="form-control" value="{{record[15]}}" name="Bairro" type="text" placeholder="Luis Cabral" />
                        </div>
                        </br>
                        <div class="col-md-12">
                            <label>Número da residencia</label>
                            <input  class='form-control phone' name='CasaNumero' value="{{record[16]}}" maxlength="5" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');" > 
                        </div>
                        </br>

                        <div class='col-md-12'> 
                            <label class='labels'>Numero de telefone</label> 
                            <div class='input-group mb-3'>
                                <div class='input-group-prepend'> 
                                  <span class='input-group-text' id='basic-addon3'>+258</span> 
                                </div> 
                                <input  class='form-control phone'  name='phone' value="{{record[10]}}" maxlength="9" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');" > 
                                
                            </div> 
                        </div>
                        </br>

                        <div class="col-md-12">
                            <label for="tags">Escolher o audio(.wav)</label>
                            <input type="file" class="form-control" name="file" placeholder="Selecione o audio .wav">
                        </div>
                        </br>
                        <div class="botao">
                            <button class="btn btn-lg btn-primary btn-block" type="submit"  onclick= "return(validate());"> Atualizar </buttom>

                        </div>
                       
                    </div>  
                    
                </div>
            </form>

        </section>
        <style>
            .form-group{
                margin: 1rem 0px;
            }
            
        </style>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      
        <script>
            var regex = /^[A-zÀ-ú ]*$/;
            var email = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            
            function validate() {
                
                //nome da empresa
                if( document.myForm.Nome.value == "" ) {
                    swal({
                        text: "Erro detectado, por favor insira o nome!",
                        icon: "error",
                        
                        dangerMode: true,
                    });
                    document.myForm.Nome.focus() ;
                    return false;
                }
                if( document.myForm.Nome.value.length  <= 2 ) {
                    swal({
                        text: "Erro detectado, por favor insira o nome!",
                        icon: "error",
                        
                        dangerMode: true,
                    });
                    document.myForm.Nome.focus() ;
                    return false;
                }
                if(!document.myForm.Nome.value.match(regex))
                {
                    swal({
                        text: "Erro detectado, apenas Letras são aceites!",
                        icon: "error",
                        
                        dangerMode: true,
                    });
                
                    document.myForm.Nome.focus() ;
                    return false;
                }

                //email
                if( document.myForm.Email.value == "" ) 
                {
                    swal({
                        text: "Erro detectado, por favor insira o email!",
                        icon: "error",
                        
                        dangerMode: true,
                    });
                    document.myForm.Email.focus() ;
                    return false;
                }
                
                else if(!document.myForm.Email.value.match(email))
                {
                    swal({
                        text: "Erro detectado, insira um email valido!",
                        icon: "error",
                        
                        dangerMode: true,
                    });
                    document.myForm.Email.focus() ;
                    return false;
                }

                //senha
                if( document.myForm.Senha.value == "" ) {
                    swal({
                        text: "Erro detectado, por favor insira senha!",
                        icon: "error",
                        
                        dangerMode: true,
                    });
                    document.myForm.Senha.focus() ;
                    return false;
                }
                if( document.myForm.Senha.value.length < 8 ) {
                    
                    swal({
                        text: "Erro detectado, por favor insira senha, deve ter no minimo 8 caracteres!",
                        icon: "error",
                        
                        dangerMode: true,
                    });
                    document.myForm.Senha.focus() ;
                    return false;
                }
                if( document.myForm.Senha.value.length > 15 ) {
                    swal({
                        text: "Erro detectado, por favor insira senha, deve ter no maxímo 15 caracteres!",
                        icon: "error",
                        
                        dangerMode: true,
                    });
                    document.myForm.senha.focus() ;
                    return false;
                }
                if( document.myForm.Confirmarsenha.value == "" ) {
                    swal({
                        text: "Erro detectado, por favor confirma a senha inserida no campo senha!",
                        icon: "error",
                        
                        dangerMode: true,
                    });
                   
                    document.myForm.Confirmarsenha.focus();
                    return false;
                }
                if( document.myForm.Senha.value != document.myForm.Confirmarsenha.value ) {
                    swal({
                        text: "Erro detectado, As senhas não são compativeis!",
                        icon: "error",
                        
                        dangerMode: true,
                    });
                    document.myForm.Confirmarsenha.focus();
                    return false;
                }

                //endereço
                
                if (document.myForm.Avenida.value == '') {

                    swal({
                        text: "Erro detectado, Insira avenida!",
                        icon: "error",
                        
                        dangerMode: true,
                        });
                    
                    return false;
                    
                }
                if (document.myForm.Avenida.value.length < 4) {

                    swal({
                        text: "Erro detectado, Insira avenida valida!",
                        icon: "error",
                        
                        dangerMode: true,
                        });
                    
                    return false;
                    
                }
                if (document.myForm.Bairro.value == '') {

                    swal({
                        text: "Erro detectado, Insira o seu bairro!",
                        icon: "error",
                        
                        dangerMode: true,
                        });
                    
                    return false;
                    
                }
                if (document.myForm.CasaNumero.value.length < 1) {

                    swal({
                        text: "Erro detectado, Insira um número de residencia valido!",
                        icon: "error",
                        
                        dangerMode: true,
                        });
                    document.myForm.CasaNumero.focus();
                    return false;
                    
                }
                
                //phone
                if( document.myForm.phone.value == "" || document.myForm.phone.value.length < 9  )
                {
                    swal({
                        text: "Erro detectado, por favor insira o numero de telefone valido!",
                        icon: "error",
                        
                        dangerMode: true,
                    });
                    document.myForm.phone.focus() ;
                    return false;
                }
            }
        </script>
    </body>
    
{% endblock %}