
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            <span>{{ message }}</section>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <span aria-hidden = "true"></span>
        </div>
   
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

    <html lang="en">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <section>
            <form class="form-login" method="POST" action="{{ url_for('login') }}">
            <div class="login-div flex-column-centered">
                <input id="input" class="input" type="checkbox" />
                
                    <label for="input" class="toggle">
                        <div class= "toplogin">
                            <span class="text sign-text" style="color: black;" >Entrar com e-mail</span>
                        </div>
                        <span class="icon">
                          <svg class="arrow" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="32" width="32" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"></path>
                          </svg>
                        </span>
                        <div class= "toplogin">
                            <span class="text log-text" style="color: black" >Entrar com voz</span>
                        </div>

                      </label>
                
                <div class="card">
                    <div class="content sign">
                        <h2 class="title" style="padding-top: ">Entrar com e-mail</h2>
                        <div class="fields">
                
                            <label class="field">
                                <div class="icon">
                                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="12" cy="12" r="4"></circle>
                                    <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path>
                                </svg>
                                </div>
                                <input id="email" class="form-control" name="email" type="text" placeholder="anavoice@gmail.com" class="textbox"/>

                            </label>
                
                            <label class="field">
                                <div class="icon">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 2C9.243 2 7 4.243 7 7v2H6c-1.103 0-2 .897-2 2v9c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-9c0-1.103-.897-2-2-2h-1V7c0-2.757-2.243-5-5-5zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v2H9V7zm9.002 13H13v-2.278c.595-.347 1-.985 1-1.722 0-1.103-.897-2-2-2s-2 .897-2 2c0 .736.405 1.375 1 1.722V20H6v-9h12l.002 9z"></path>
                                </svg>
                                </div>
                                <input type="password" class="form-control" placeholder="Introduza a senha" id="senha" name="senha"  required>
                            </label>
                        </div>
                
                        <div class="submit" >
                            <button type="submit" class="button-submit" id="goo" >Entrar</button>
                        </div>
                        <!--
                        <div class="submit" style="padding-bottom: 10px; margin-right: 250px">
                            <p> Sem conta? <a  style="color: #6495ED " href="{{ url_for('register') }}"> 
                             Registar-se 
                            </a>
                        </div>-->
                    </div>
                   
                    <div class="content log">
                        <h2 class="title" style="padding-top: ">Entrar com voz</h2>
                        <div class="fields">
                            <label class="field">
                                <div class="icon">
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path d="M4 22a8 8 0 1 1 16 0h-2a6 6 0 1 0-12 0H4zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4z"></path>
                                        </g>
                                    </svg>
                                </div>
                                <input type="text" id="search" name="search" placeholder="...">
                            </label>
                            
   
                        </div>
                    
                        <div class="submit" style="display:flex">
                            <button type="submit" id="start" class="button-submit">
                                <svg style = "height:2rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/></svg>
                                falar</button>
                            <button type="submit" id="stop" class="button-submit">
                                <svg style = "height:2rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM224 192V320c0 17.7-14.3 32-32 32s-32-14.3-32-32V192c0-17.7 14.3-32 32-32s32 14.3 32 32zm128 0V320c0 17.7-14.3 32-32 32s-32-14.3-32-32V192c0-17.7 14.3-32 32-32s32 14.3 32 32z"/></svg>
                                Parar</button>
                        </div>
                        <div class="submit">
                            <button type="submit" id="start" class="button-submit">Entrar</button>
                        </div>

                        <!--<div class="submit" style="padding-bottom: 10px; margin-right: 250px">
                            <p> Sem conta? <a  style="color: #6495ED " href="{{ url_for('register') }}"> 
                             Registar-se 
                            </a>
                        </div>-->
                    </div>

                </div>
            </div>
        </form>
        </section>
        <script src="/static/js/scripts.js"></script>
    </body>
    </html>

{% endblock %}