{% extends 'layouts/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            <span>{{ message }}</section>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <span aria-hidden = "true"></span>
        </div>
   
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


    <html lang = "en">
    <head>
        <title>Register</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    
    <body>
        <section>

            <form class="form-sigin" method="POST" action="/register">

               

                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <h2 id="heading">Cadastre Sua Conta de Usuário</h2>
                    <p>Preencha todos os campos do formulário</p>
                </div>
                <div class="formulario col-md-12">
                    <div class="col-md-4 border-right" style="margin-left: 2rem; padding-top: 1rem;  padding-bottom: 1rem; " >
                    

                        <div class="col-md-12">
                            <label>Nome</label>
                            <input id="nome" class="form-control" name="nome" type="text" placeholder="Nome completo" class="textbox"/>
                        </div>
                        </br>

                        <div class="col-md-12">
                            <label for="gander">Selecione o genero</label>
                            <select class="form-control" name="genero" id="genero">
                                <option value="masculino">Masculino</option>
                                <option value="femenino">Femenino</option>                            
                            </select>
                        </div>
                        </br>

                        <div class="col-md-12">
                            <label>Email @</label>
                            <input id="email" class="form-control" name="email" type="text" placeholder="anavoice@gmail.com" class="textbox"/>

                        </div>
                        </br>

                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Senha</label> <input type="password" class="form-control" placeholder="Introduza a senha" id="senha" name="senha"  required></div>
                            <div class="col-md-6"><label class="labels">Confirmar Senha</label><input type="password" name="confirmarsenha" class="form-control" placeholder="Confirme a senha" required></div>
                        </div>
                        </br>

                        <div class="col-md-12">
                            <label for="gander">Selecione a província</label>
                            <select class="form-control" name="provincia" id="provincia">
                                <option value="masculino">Maputo Cidade</option>
                                <option value="femenino">Mapauto Província</option>                            
                            </select>
                        </div>
                        

                    </div>

                    <div class="col-md-4 border-right" style="margin-left: 2rem; padding-top: 1rem;  padding-bottom: 1rem;   margin-right: 2rem;" >
                        
                        
                        <div class="col-md-12">
                            <label>Avenida</label>
                            <input id="avenida" class="form-control" name="avenida" type="text" placeholder="Av. Mapauto" class="textbox" required/>
                        </div>
                        </br>

                        <div class="col-md-12">
                            <label>Bairro</label>
                            <input id="bairro" class="form-control" name="bairro" type="text" placeholder="Luis Cabral" class="textbox"/>
                        </div>
                        </br>
                        <div class="col-md-12">
                            <label>Numero da residencia</label>
                            <input  class='form-control phone'  name='phone1' maxlength="5" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');" required> 
                        </div>
                        </br>

                        <div class='col-md-12'> 
                            <label class='labels'>Numero de telefone</label> 
                            <div class='input-group mb-3'>
                                <div class='input-group-prepend'> 
                                  <span class='input-group-text' id='basic-addon3'>+258</span> 
                                </div> 
                                <input  class='form-control phone'  name='phone1' maxlength="9" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');" required> 
                                
                            </div> 
                        </div>
                        </br>

                        <div class="col-md-12">
                            <label for="tags">Escolher o audio(.wav)</label>
                            <input type="file" class="form-control" name="file" placeholder="Selecione o audio .wav" required>
                        </div>
                        </br>

                        <div class="botao">
                            <button class="btn btn-lg btn-primary btn-block" type="submit"> Registrar </buttom>

                        </div>

                    </div>  
                    
                </div>
            </form>
        </section>
        <style>
            .form-group{
                margin: 1rem 0px;
            }
            
        </style>
    </body>
    
{% endblock %}