<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>ANA-Voice Access Control</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img src="/static/favicon.ico" alt="" width="30" height="24" style="margin-right: 1rem;">
      <a class="navbar-brand" href="{{ url_for('index') }}" onMouseOver="this.style.color='#008080'"
      onMouseOut="this.style.color='#ffff'">ANA-Voice Access Control</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav" style="margin-left: auto; navbar">

          <li class="nav-item navbar">
            <a class="nav-link" href="{{ url_for('index') }}" style="color: #ffff; margin-right: 0.3rem; hover-color:black" onMouseOver="this.style.color='#008080'"
            onMouseOut="this.style.color='#ffff'" ><i style="margin-right: 0.3rem" class="fas fa-home"></i>Home</a>
          </li>

          <li class="nav-item navbar">
            <a class="nav-link" href="{{ url_for('dashboard') }}" style="color: #ffff; margin-right: 0.3rem; hover-color:black" onMouseOver="this.style.color='#008080'"
            onMouseOut="this.style.color='#ffff'" ><i style="margin-right: 0.3rem" class="fa fa-cogs" ></i>Dashboard </a>
            
          </li>
          
        
          <li class="nav-item navbar" >
            <a class="nav-link" href="{{ url_for('logout') }}" style="color: #ffff; margin-right: 0.3rem; hover-color:black" onMouseOver="this.style.color='#008080'"
            onMouseOut="this.style.color='#ffff'" > <i style="margin-right: 0.3rem" class="fas fa-sign-out-alt"> </i>Sair</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>